.main {
}
.main__container {
}
.container {
}
.hero__wrapper {
  background-color: $peach-color;
  border-radius: 15px;
}
.hero__typography {
  padding-top: 64px;
  margin-top: 64px;
  margin-bottom: 24px;
  color: $white-color;
  text-align: center;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 100% */
}
.hero__paragraph {
  color: $white-color;
  text-align: center;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 64px;
}
.main {
}

.section__image-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 200px;
}
.main-wrapper {
}
.service-tittle {
}
.services-title {
}
.main2-wrapper {
}

.main__figma_img {
}
.third__wrapper-figma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 160px;
}
.figma {
}
.section__img__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__section {
  border-radius: 15px;
  background-color: #e7816b;
  display: flex;
  align-items: center;
  margin-top: 64px;
}
.about__content {
  margin-left: 94px;
  margin-right: 87px;
}
.about__title {
  margin-bottom: 3.2rem;
  color: $white-color;
  font-family: "Jost";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 100% */
}
.about__description {
  color: $white-color;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.about__image {
}
.about__img {
  width: 476px;
  height: 480px;
  flex-shrink: 0;
}

.about2__section {
  margin-top: 16rem;
  background-color: #fdf3f0;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.about2__image {
}
.about2img {
  width: 476px;
  height: 640px;
  flex-shrink: 0;
}
.about2__content {
  margin-right: 94px;
  margin-left: 94px;
}
.about2__title {
  margin-bottom: 24px;
  color: #e7816b;
  font-family: "Jost";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}
.about2__description {
  width: 445px;
  color: #333136;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.options {
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options__coutry {
}
.option__image {
}
.option__title {
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;
  color: $dark-gray;
  text-align: center;
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  letter-spacing: 5px;
}
.peach-btn {
  color: $white-color;
}
.option__title__wrap {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn {
}

.about3__section {
  background-color: #fdf3f0;
  border-radius: 15px;
  margin-top: 176px;
  display: flex;
  align-items: center;
}
.about3__content {
  margin-left: 9.5rem;
  margin-right: 5.4rem;
}
.about3title {
  color: #e7816b;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}
.about3__paragraph {
  width: 445px;
  color: #333136;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.about3__image {
}
.about3__img {
  width: 476px;
  height: 640px;
  flex-shrink: 0;
}
